.github/workflows/secret-scan.yml
LICENSE
trufflehog
trufflehog_3.88.25_linux_amd64.tar.gz
._**
cosign.key
cosign-pass
cosign.pub
README.md
secrets.yaml
.github/workflows/a.yaml
.github/workflows/build-multi.yaml
.github/workflows/notify-slack.yml
.github/workflows/notify-discord.yml
.github/workflows/build.yml.bk
.github/workflows/deploy.yml.bk
**.bk

.github/workflows/argocd-sync-and-wait.yml
.github/workflows/build-matrix.yml
.github/workflows/build-multi.yaml
.github/workflows/build-test.yaml
.github/workflows/build.yml.bk
.github/workflows/container-scan.yml.bk
.github/workflows/dependency-review.yml
.github/workflows/deploy.yml.bk
.github/workflows/file-scan.yml
.github/workflows/notify-discord.yml
.github/workflows/notify-slack.yml
.github/workflows/owasp.yaml
.github/workflows/scorecard.yml
.github/workflows/semgrep.yml
.github/workflows/sonarqube.yml
.github/workflows/zap.yml