name: Security Audit

on:
  workflow_call:

jobs:
  cargo_audit:
    runs-on: ubuntu-latest # [self-hosted, linux, x64]
    steps:
      - uses: step-security/harden-runner@v2.14.0
        with:
          egress-policy: audit
      - uses: actions/checkout@v5.0.0
        with:
          persist-credentials: false

      - name: Cache Cargo registry and target
        uses: actions/cache@v5.0.1
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
            ~/.rustup/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.toml', '**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-

      - uses: rustsec/audit-check@v2.0.0

      - name: Remove Private Repo
        run: rm -f ~/.git-credentials

      - name: Handle build failure
        if: ${{ failure() }}
        run: echo "Build failed. Check logs for details."

  cargo_deny_audit:
    runs-on: [self-hosted, linux, x64]
    steps:
      - uses: step-security/harden-runner@v2.14.0
        with:
          egress-policy: audit

      - uses: actions/checkout@v5.0.0
        with:
          persist-credentials: false

      - uses: EmbarkStudios/cargo-deny-action@v2.0.14
        with:
          log-level: warn
          manifest-path: ./Cargo.toml
          command: check
          arguments: --all-features --locked
          command-arguments: ""
          
      - name: Handle build failure
        if: ${{ failure() }}
        run: echo "Build failed. Check logs for details."
