name: Container Image Scans

on:
  workflow_call:
    inputs:
      sha:
        description: 'SHA to use as image tag'
        required: true
        type: string
      branch_slug:
        description: 'String to tag on image'
        required: true
        type: string
      repo_name:
        description: 'Name of repo'
        required: true
        type: string

env:
  REPO: ${{ inputs.repo_name }}
  ORG: ${{ github.repository_owner }}
  SHA: ${{ inputs.sha }}

jobs:
  scan:
    name: Container Scans
    runs-on: ubuntu-latest #[self-hosted, linux, ${{ matrix.arch }}]

    strategy:
      matrix:
        arch: [x64]
        tool: [anchore, sbom, trivy, scout]
      fail-fast: false

    env:
      ACTIONS_RESULTS_URL: ${{ matrix.arch == 'arm64' && secrets.CACHE_SERVER_URL_ARM64 || secrets.CACHE_SERVER_URL }}

    steps:
      - uses: step-security/harden-runner@v2.14.0
        with:
          egress-policy: audit

      - name: Start timer
        id: start-time
        run: echo "${{ matrix.tool }}_scan_start_time=$(date +%s)" >> $GITHUB_ENV

      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ secrets.GH_ACTION_ACTOR }}
          password: ${{ secrets.GH_ACTION_PAT }}

      - name: Sanitize branch slug
        id: sanitize
        run: |
          CLEAN_BRANCH="${{ inputs.branch_slug }}"
          BRANCH="${CLEAN_BRANCH//\//-}"
          echo "CLEAN_BRANCH=$BRANCH" >> $GITHUB_ENV

      - name: Pull Docker Image
        run: |
          ARCH=${{ matrix.arch }}
          if [ "$ARCH" = "x64" ]; then
            ARCH="amd64"
          fi
          docker pull --platform linux/$ARCH ghcr.io/${{ env.ORG }}/${{ env.REPO }}:${{ env.SHA }}

      - name: Run Anchore Scan
        if: ${{ matrix.tool == 'anchore' }}
        uses: anchore/scan-action@v6.5.1
        with:
          image: ghcr.io/${{ env.ORG }}/${{ env.REPO }}:${{ env.SHA }}
          fail-build: false

      - name: Run SBOM Scan
        if: ${{ matrix.tool == 'sbom' && matrix.arch == 'x64' }}
        uses: anchore/sbom-action@v0.20.5
        with:
          image: ghcr.io/${{ env.ORG }}/${{ env.REPO }}:${{ env.SHA }}

      - name: Run Trivy Scan
        if: ${{ matrix.tool == 'trivy' }}
        uses: aquasecurity/trivy-action@0.33.0
        with:
          image-ref: ghcr.io/${{ env.ORG }}/${{ env.REPO }}:${{ env.SHA }}
          format: table
          ignore-unfixed: true

      - name: Log into Docker Registry (for Scout)
        if: ${{ matrix.tool == 'scout' }}
        uses: docker/login-action@v3.5.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PAT }}

      - name: Run Docker Scout
        if: ${{ matrix.tool == 'scout' }}
        uses: docker/scout-action@v1.18.2
        with:
          command: quickview,cves,recommendations
          image: ghcr.io/${{ env.ORG }}/${{ env.REPO }}:${{ env.SHA }}
          ignore-unchanged: true
          only-severities: critical,high
          write-comment: true
          github-token: ${{ secrets.GH_ACTION_PAT }}

      - name: Handle build failure
        if: ${{ failure() }}
        run: echo "Build failed. Check logs for details."

      - name: End timer and calculate duration
        id: set-duration
        run: |
          end_time=$(date +%s)
          start_var="${{ matrix.tool }}_scan_start_time"
          start_time_value="${!start_var}"
          duration=$((end_time - start_time_value))
          echo "${{ matrix.tool }}_scan_duration=${duration}" >> $GITHUB_OUTPUT
