name: Deploy

on:
  workflow_call:
    inputs:
      sha:
        description: 'SHA to use as image tag'
        required: true
        type: string
      branch_slug:
        description: 'String to tag on image'
        required: true
        type: string
      repo_name:
        description: 'Name of repo'
        required: true
        type: string
      app_name:
        description: 'Name of app to deploy'
        required: true
        type: string

env:
  REPO: ${{ inputs.repo_name }}
  ORG: ${{ github.repository_owner }}
  SHA: ${{ inputs.sha }}
  APP_NAME: ${{ inputs.app_name }}

jobs:
  determine_deployment_target:
    name: Determine Target
    runs-on: ubuntu-latest # Can be a fast, standard runner
    if: github.event_name != 'pull_request'
    outputs:
      target_folder: ${{ steps.check_prod.outputs.folder || steps.check_public.outputs.folder || steps.check_fallback.outputs.folder }}
      
    steps:
      - uses: step-security/harden-runner@v2.14.0
        with:
          egress-policy: audit

      - name: Start timer
        id: start-time
        run: echo "start_time=$(date +%s)" >> $GITHUB_ENV

      - name: Sanitize branch slug
        id: sanitize
        run: |
          CLEAN_BRANCH="${{ inputs.branch_slug }}"
          BRANCH="${CLEAN_BRANCH//\//-}"
          echo "CLEAN_BRANCH=$BRANCH" >> $GITHUB_ENV # Set for use in fallback

      - name: CHECK Production Tag (v*.*.*)
        id: check_prod
        if: |
          startsWith(github.ref, 'refs/tags/') &&
          startsWith(github.ref_name, 'v') &&
          !contains(github.ref_name, '-pub') &&
          !contains(github.ref_name, '-beta') &&
          !contains(github.ref_name, '-test') &&
          !contains(github.ref_name, '-dev') &&
          !contains(github.ref_name, '-rc')
        run: echo "folder=production" >> $GITHUB_OUTPUT

      - name: CHECK Public Tag (v*.*.*-pub or -beta)
        id: check_public
        if: |
          steps.check_prod.outcome != 'success' &&
          startsWith(github.ref, 'refs/tags/') &&
          (contains(github.ref_name, '-pub') || contains(github.ref_name, '-beta'))
        run: echo "folder=public" >> $GITHUB_OUTPUT

      - name: CHECK Fallback (branch or rejected tags)
        id: check_fallback
        if: |
          steps.check_prod.outcome != 'success' &&
          steps.check_public.outcome != 'success'
        run: echo "folder=${{ env.CLEAN_BRANCH }}" >> $GITHUB_OUTPUT

      - name: Handle build failure
        if: ${{ failure() }}
        run: echo "Build failed. Check logs for details."

      - name: End timer and calculate duration
        id: set-duration
        run: |
          end_time=$(date +%s)
          duration=$((end_time - ${{ env.start_time }}))
          echo "duration=${duration}" >> $GITHUB_OUTPUT

  deploy:
    name: Deploy to ${{ needs.determine_deployment_target.outputs.target_folder }}
    runs-on: ubuntu-latest # Can be a fast, standard runner
    needs: [determine_deployment_target]
    if: needs.determine_deployment_target.outputs.target_folder != '' && github.event_name != 'pull_request'
    permissions:
      contents: read
      id-token: write
    
    steps:
      - uses: step-security/harden-runner@v2.14.0
        with:
          egress-policy: audit

      - name: Start timer
        id: start-time
        run: echo "start_time=$(date +%s)" >> $GITHUB_ENV

      - name: Trigger Image Update
        uses: peter-evans/repository-dispatch@v4.0.1
        with:
          token: ${{ secrets.DISPATCH_PAT }} 
          repository: ${{ github.repository_owner }}/${{ secrets.DEPLOY_REPO }}
          event-type: update-image-tag
          client-payload: >
            {
              "target_dir": "${{ needs.determine_deployment_target.outputs.target_folder }}",
              "repo_name": "${{ inputs.repo_name }}",
              "app_name": "${{ inputs.app_name }}",
              "sha": "${{ inputs.sha }}"
            }

      - name: Handle build failure
        if: ${{ failure() }}
        run: echo "Build failed. Check logs for details."

      - name: End timer and calculate duration
        id: set-duration
        run: |
          end_time=$(date +%s)
          duration=$((end_time - ${{ env.start_time }}))
          echo "duration=${duration}" >> $GITHUB_OUTPUT
